#table{
	margin: 50px auto;
	width: 60%;
}

#table th, #table td{
	text-align: center;
}

#table td{
	height: 100px;
	padding-top: 30px;
}

.title{
	color: #037c9a;
}

.cr{
	margin-top: 50px;
	text-align: center;
}

.link{
	text-decoration: none;
	color: #fff;
}

.link:hover{
	text-decoration: none;
	color: #fff;
}

h1{
	text-align: center;
}

h3{
	text-align: center;
}

.add_form, .edit_form{
	text-align: center;
}

.image{
	width: 140px;
	height: 140px;
	margin: 1px;
}